<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 This web.xml is specifically for the Portal/Cookie implementation.
 -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name>Sample Auto Servlet</display-name>
  <description>
     Displays the MedIT MVC environment with a sample servlet.
  </description>


 <servlet>
    <servlet-name>SampleServer</servlet-name>
    <servlet-class>ca.ubc.med.sample.Controller</servlet-class>    
  </servlet>

 <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ca.ubc.med.sample.Login</servlet-class>
  </servlet>


 <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>SampleServer</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>

</web-app>
