/* Style sheet for Mobile Web pages */
body {
	color:#C0C0C0;
	font-size:16px;
	font-family:verdana,helvetica,arial,sans-serif;
	padding: 10px 10px 10px 10px;
	background: #000000;
}

table.box td {
	border-color: #AAAAAA;
	padding: 2px 2px 2px 2px;
	font: 16px verdana, arial, helvetica, sans-serif;
	text-align:left;
	border-width: 1px;
	border-style: solid;	
	color: #EEEEEE;
	background: #808080;
	width:100%;
}

table.box th  {
	border-color: #AAAAAA;
	white-space: nowrap;
	padding: 2px 2px 2px 2px;
	font: 16px verdana, arial, helvetica, sans-serif;
	font-weight:bold;
	text-align:left;
	border-width: 1px;
	border-style: solid;	
	color: #E0E0E0;
	background: #DDDDDD;
}


.formbutton{
	cursor:pointer;
	border:outset 1px #f0f0f0;
	background:#f0f0f0;
	color:#000000;
	font-weight:bold;
	padding: 1px 2px;
}

.title{
	color:#EEEEEE;
	font-weight:bold;
	padding: 1px 2px;
	background: #E05206;
	font: 22px verdana, arial, helvetica, sans-serif;
}

.xtitle{
	width:100%;
	color:#EEEEEE;
	font-weight:bold;
	padding: 1px 2px;
	background: #E05206;
	font: 22px verdana, arial, helvetica, sans-serif;
}
.ytitle{
	width:100%;
	color:#EEEEEE;
	font-weight:bold;
	padding: 1px 2px;
	background: #CCCCCC;
	font: 22px verdana, arial, helvetica, sans-serif;
}



.header{
	color:#EEEEEE;
	font-weight:bold;
	padding: 1px 2px;
	background: #F0F0F0;
	font: 20px verdana, arial, helvetica, sans-serif;
}


hr {
	margin: 15px 0 5px 5px;
	width:250px;
	clear:both;
} 

a {
	color:#0000FF;
	font-family:verdana,helvetica,arial,sans-serif;
	text-decoration:none;
}

p {
	margin: 0 0 6px 0;
}	

a:link {
	color:#F8F8F8;
	text-decoration:none
}

a:hover {
	color:#F8F8F8;
	text-decoration:none
}
a:visited {
	color:#F8F8F8;
	text-decoration:none;
}

