<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name>Test Web Services Client</display-name>
  <description>
     Servlet to access the Tester Web Service.
  </description>

 <servlet>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>ca.ubc.med.ws.demo.client.PersonServlet</servlet-class>
  </servlet>

 <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>

</web-app>
