<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Enable configuration scanning to automatically pick up changes
made to this file and reconfigure logging on the fly. Default 
scan period is 1 minute.
-->
<configuration scan="false">

  <!-- appender for connect -->
  <appender name="PUBLISHERS" class="ch.qos.logback.core.rolling.RollingFileAppender">
   <!--
    The file path is relative to the service-wrapper bin directory
    located at ${bb.root}/apps/service-wrapper/bin. The path below
    maps to ${bb.root}/logs/custom/.
    -->
    <file>../../../logs/custom/b2template.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>../../../logs/custom/b2template.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 21 days' worth of history -->
      <maxHistory>21</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-5p[%d{yyyy-MM-dd HH:mm:ss}] %C : %m%n</pattern>
    </encoder>
  </appender>
 
 <!-- ** Disable for production install -->
  <root>
    <level value="debug"/>
        <appender-ref ref="PUBLISHERS" />
  </root>
<!-- ** Enable for production install -->
<!-- 
    <root>
    <level value="info"/>
        <appender-ref ref="PUBLISHERS" />
  </root>
 -->  
 
</configuration>
